        * {
            box-sizing: border-box;
            /*RWD需要*/
        }
        
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: grey;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 26px;
        }
        
        li a:hover {
            background-color: #f5a31a;
        }
        
        .center {
            text-align: center;
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        
        .header {
            text-align: center;
            font-size: 40px;
            padding: 300px 0px 0px 0px;
            color: #ffffff;
            font-family: 微軟正黑體;
        }
        
        h2 {
            margin: 0px;
            padding: 0px;
        }
        
        @media screen and (max-width: 768px) {
            .cen {
                width: 100%;
            }
        }
        
        .item-group {
            width: 100%;
            margin: 0px;
        }
        
        .cen {
            padding: 0px 10%;
            margin: 0px;
        }
        
        .item {
            margin: 0;
        }
        
        .twotext {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e0dede;
        }
        
        .two {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        @media screen and (min-width:768px) {
            .item-group {
                display: flex;
            }
        }
        
        .text {
            width: 100%;
            float: right;
        }
        
        .text2 {
            font-size: 30px;
            font-family: DFKai-sb;
            flex: none;
        }
        
        .text2 h3 {
            font-size: 50px;
            padding: 0px;
        }
        
        .text2 p a {
            text-decoration: none;
        }
        
        .footer {
            background-color: #f5a31a;
            color: black;
            text-align: center;
            padding: 10px 0px;
            font-size: 20px;
        }
        
        .region {
            text-align: center;
            padding: 10px 0px 0px 0px
        }
        
        .region p {
            border: 1px solid black;
            font-size: 40px;
            color: blue;
            font-weight: bold;
        }
        
        .pic {
            background-size: cover;
            background-image: url(TW.jpg);
            height: 800px;
            position: relative;
            z-index: 1;
        }